MONGO_URI=mongodb://127.0.0.1:27017/lms2
JWT_SECRET=super-secret-jwt-key
PORT=7001
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:7001
VITE_SOCKET_URL=http://localhost:7001
LIVE_CLASS_BASE_URL=https://localhost:3000
VITE_LIVE_CLASS_BASE_URL=https://localhost:3000
